.chart-section {
    margin: 5rem auto;
    position: relative;
    width: 70%;
}

.top-section {
    position: relative;
    margin: 1rem auto;
    text-align: center;
    width: 100%;
}
.data-wrap {
    overflow-x: hidden;
    overflow-y: auto;
}
.data-section {
    position: relative;
    display: block;
    width: 100%;
    height: 600px;
}

.bottom-secton {
    position: relative;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    align-items: center;
}

.loading-square {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.loading-text {
    position: relative;
    margin: 30% 40%;
    transition: 0.2s;
    opacity: 1;
    animation: flash 2s infinite;
}

@keyframes flash {
    33% {
        opacity: 0.5;
    }
    66% {
        opacity: 0.1;
    }
}